/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 17, 2015, 9:58:41 PM
    Author     : Dragon's
*/

#yoyo {
    backgroud-color: #CC00FF;
    allign: center;
    
}

.wrapper {
    max-width: 100%;
    
}

.main {
    margin-top: 30px;
    margin-left: 100px;
    max-width: 600px;
}    

#style{
    position : absolute;
    width : 800px;
    left : 50%;
    margin-left : -390px;    
}

#nav_header {
    alling:center;
    width:100%;
    background:#A9D0F5;
    margin:1px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: "Arial Black";
}

#nav_body {
    
    width:100%;
    background:#3300FF;
    
    
}

#nav_footer{
     width:100%;
    background:#3300FF;
    margin:1px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: arial;
    
}

#banner_main{
    width: 300px;
    margin: 1px;
}